body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}

h1 {
    color: gray;
}

input, select, button {
    margin: 10px;
    padding: 5px;
}

#result {
    font-weight: bold;
    color: gray;
}